<%= render 'error_explanation', model: @post_book %>

<div class="container">
  <div class="row">
    <%= render 'newpost', book: @post_book, user: @user %>
    
    <%= render 'list', books: @books %>
  </div>
</div>